# ignores for python and vim

# python (2 and 3)
*.pyc
__pychache__

# jupyter
.ipynb_checkpoints

# solutions to the exercises
*solutions.ipynb

# setuptools
/dist
/MANIFEST
/*.egg-info

# vim
*.swp

